<%= form_with scope: :message, url: messages_path, local: true do |form| %>
  <p>
    <%= form.label :Message %><br>
    <%= form.text_area :content %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
