<p>
  <strong>Message content</strong></br>
  <%= @message.content %>
  <% @message.destroy %>
</p>

<p>
  This message was destroyed. If you wish not to lose it, copy it before closing the window.
</p>
